<form action="question1" method="post">
  <p>
    <input type="radio" name="place" value="europe" checked="checked">ヨーロッパ
    <input type="radio" name="place" value="asia">アジア
  </p>
  <p><input type="button" value="ボタン" onclick="getRadioValue('place');"></p>
</form>
