<body class="contact-invert">
  <!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">

				<!-- Site Title, your name, HELLO msg, etc. -->
				<h1 class="title" style="font-size:3em; padding-bottom: 0.3em; color: black;">お問い合わせフォーム</h1>
        <p>一箇所5,400円で旅行のプロが相談に乗ります。まずはお見積りだけでもお気軽にどうぞ</p>
				<div class="question">
          <form class="form-inline">
            <div class="form-group">
              <label for="exampleInputName2">名前</label><br>
              <input type="text" style="width:30em;" class="form-control" id="exampleInputName2" placeholder="名前">
            </div><br>
            <div class="form-group" style="padding-top:3em;">
            <label for="inputEmail3" class="control-label">メールアドレス</label><br>
              <input type="email" style="width:30em;" class="form-control" id="inputEmail3" placeholder="Email">
            </div><br>
            <div class="form-group" style="padding-top:3em;">
              <label for="exampleInputName2">詳細</label><br>
              <textarea class="form-control" rows="3" style="width:30em;" placeholder="予算や日数などの詳細"></textarea>
            </div>
  				<!-- Short introductory (optional) -->

  				<!-- Nice place to describe your site in a sentence or two -->
  				<p><a href="/contact" class="btn btn-default btn-lg" style="margin-top: 3em;"><strong>見積もりを依頼する</strong></a></p>
        </div>

			</div> <!-- /col -->
		</div> <!-- /row -->
</section>
</body>
