<body class="theme-priority">
  <!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">

				<!-- Site Title, your name, HELLO msg, etc. -->
				<h1 class="title" style="font-size:4em;; padding-bottom: 1em;">ここからは細かな質問です<br>当てはまるものを選んでください</h1>
				<div class="question">
				<h2 class="small_question">料金</h2>
				<p>
					<input type="radio" name="price" value="0" checked="checked">5万以下
					<input type="radio" name="price" value="1">10万以下
					<input type="radio" name="price" value="2">15万以下
					<input type="radio" name="price" value="3">20万以下
					<input type="radio" name="price" value="4">20万以上
				</p>
				<h2 class="small_question">フライト時間</h2>
				<p>
					<input type="radio" name="time" value="0" checked="checked">4時間以下
					<input type="radio" name="time" value="1">6時間以下
					<input type="radio" name="time" value="2">8時間以下
					<input type="radio" name="time" value="3">8時間以上
				</p>
				<h2 class="small_question">旅行テーマ</h2>
				<p>
					<input type="radio" name="theme" value="0" checked="checked">海
					<input type="radio" name="theme" value="1">都市
					<input type="radio" name="theme" value="2">料理
					<input type="radio" name="theme" value="3">買い物
				</p>
				<p><input type="button" value="ボタン" onclick="getRadioValue('place');"></p>
				</div>
      </div>

			</div> <!-- /col -->
		</div> <!-- /row -->
</section>
</body>
