<body class="theme-priority">
  <!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">

				<!-- Site Title, your name, HELLO msg, etc. -->
				<h1 class="title" style="font-size:4em;; padding-bottom: 1em;">ここからは細かな質問です<br>当てはまるものを選んでください</h1>
				<div class="question">
				<h2 class="small_question">方面</h2>
				<p>
					<input id="0" class="radio-inline__input" type="radio" name="price" value="0" checked="checked"/><label class="radio-inline__label" for="0">ヨーロッパ</label>
					<input id="1" class="radio-inline__input" type="radio" name="price" value="1"><label class="radio-inline__label" for="1">アジア</label>
					<input id="2" class="radio-inline__input" type="radio" name="price" value="2"><label class="radio-inline__label" for="2">北アメリカ</label>
					<input id="3" class="radio-inline__input" type="radio" name="price" value="3"><label class="radio-inline__label" for="3">南アメリカ</label>
				</p>
				<h2 class="small_question">フライト時間</h2>
				<p>
					<input id="0" class="radio-inline__input" type="radio" name="time" value="0" checked="checked"/><label class="radio-inline__label" for="0">4時間以下</label>
					<input id="1" class="radio-inline__input" type="radio" name="time" value="1"><label class="radio-inline__label" for="1">6時間以下</label>
					<input id="2" class="radio-inline__input" type="radio" name="time" value="2"><label class="radio-inline__label" for="2">8時間以下</label>
					<input id="3" class="radio-inline__input" type="radio" name="time" value="3"><label class="radio-inline__label" for="3">8時間以上</label>
				</p>
				<h2 class="small_question">旅行テーマ</h2>
				<p>
					<input id="0" class="radio-inline__input" type="radio" name="theme" value="0" checked="checked"/><label class="radio-inline__label" for="0">海</label>
					<input id="1" class="radio-inline__input" type="radio" name="theme" value="1"><label class="radio-inline__label" for="1">都市</label>
					<input id="2" class="radio-inline__input" type="radio" name="theme" value="2"><label class="radio-inline__label" for="2">料理</label>
					<input id="3" class="radio-inline__input" type="radio" name="theme" value="3"><label class="radio-inline__label" for="3">買い物</label>
				</p>
				<input type="checkbox" name="check" value="0">古代遺跡
				<input type="checkbox" name="check" value="1">カジノ
				<input type="checkbox" name="check" value="2">ピラミッド
				<input type="checkbox" name="check" value="3">自然
				<input type="checkbox" name="check" value="4">絶景
				<input type="checkbox" name="check" value="5">きれいな海
				<input type="checkbox" name="check" value="6">動物
				<input type="checkbox" name="check" value="7">ディズニーランド
				<input type="checkbox" name="check" value="8">綺麗な町並み
				<input type="checkbox" name="check" value="9">寺院
				<input type="checkbox" name="check" value="10">教会
				<input type="checkbox" name="check" value="11">モスク
				<input type="checkbox" name="check" value="12">世界遺産
				<input type="checkbox" name="check" value="13">買い物
				<input type="checkbox" name="check" value="14">美味しい料理
				<input type="checkbox" name="check" value="15">治安

				<p><input type="button" value="ボタン" onclick="getCheckVal('check');"></p>

				<p><input type="button" value="ボタン" onclick="getRadioValue('price');"></p>

      </div>

			</div> <!-- /col -->
		</div> <!-- /row -->
</section>
</body>
