<body class="theme-priority">
  <!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">

				<!-- Site Title, your name, HELLO msg, etc. -->
				<h1 class="title" style="font-size:4em;; padding-bottom: 1em;">ここからは細かな質問です<br>当てはまるものを選んでください</h1>
				<p>方面</p>
				<p>
					<input type="radio" name="price" value="0" checked="checked">ヨーロッパ
					<input type="radio" name="price" value="1">アジア
					<input type="radio" name="price" value="2">北アメリカ
					<input type="radio" name="price" value="3">南アメリカ
				</p>
				<p>フライト時間</p>
				<p>
					<input type="radio" name="time" value="0" checked="checked">4時間以下
					<input type="radio" name="time" value="1">6時間以下
					<input type="radio" name="time" value="2">8時間以下
					<input type="radio" name="time" value="3">8時間以上
				</p>
				<p>旅行テーマ</p>
				<p>
					<input type="radio" name="theme" value="0" checked="checked">海
					<input type="radio" name="theme" value="1">都市
					<input type="radio" name="theme" value="2">料理
					<input type="radio" name="theme" value="3">買い物
				</p>
				<input type="checkbox" name="check" value="0">古代遺跡
				<input type="checkbox" name="check" value="1">カジノ
				<input type="checkbox" name="check" value="2">ピラミッド
				<input type="checkbox" name="check" value="3">自然
				<input type="checkbox" name="check" value="4">絶景
				<input type="checkbox" name="check" value="5">きれいな海
				<input type="checkbox" name="check" value="6">動物
				<input type="checkbox" name="check" value="7">ディズニーランド
				<input type="checkbox" name="check" value="8">綺麗な町並み
				<input type="checkbox" name="check" value="9">寺院
				<input type="checkbox" name="check" value="10">教会
				<input type="checkbox" name="check" value="11">モスク
				<input type="checkbox" name="check" value="12">世界遺産
				<input type="checkbox" name="check" value="13">買い物
				<input type="checkbox" name="check" value="14">美味しい料理
				<input type="checkbox" name="check" value="15">治安

				<p><input type="button" value="ボタン" onclick="getCheckVal('check');"></p>

				<p><input type="button" value="ボタン" onclick="getRadioValue('price');"></p>


      </div>

			</div> <!-- /col -->
		</div> <!-- /row -->
</section>
</body>
