<body class="theme-priority">
  <!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">

				<!-- Site Title, your name, HELLO msg, etc. -->
				<h1 class="title" style="font-size:4em;; padding-bottom: 1em;">最も重要視するものを<br>選んでください</h1>
          <div class= "main-question" style="display:flex; justify-content:center;">
            <a class="btn btn-warning btn-lg" style="margin: 10px;" href="/themeLast" role="button"><strong>海</strong></a>
            <a class="btn btn-success btn-lg" style="margin: 10px;" href="/themeLast" role="button"><strong>都市</strong></a>
            <a class="btn btn-primary btn-lg" style="margin: 10px;" href="/themeLast" role="button"><strong>買い物</strong></a>
            <a class="btn btn-info btn-lg" style="margin: 10px;" href="/themeLast" role="button"><strong>食事</strong></a>
          </div>
      </div>

			</div> <!-- /col -->
		</div> <!-- /row -->
</section>
</body>
